variables:
  DOCKER_IMAGE: ${CI_REGISTRY_IMAGE:-portainer-cli}

.default:
  before_script:
    - apk update && apk add git openssh-client --upgrade
    - eval $(ssh-agent -s)
    - echo "$CI_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - install -d -m 700 ~/.ssh
    - ssh-keyscan gitlab.com >> ~/.ssh/known_hosts
    - git config --global user.email "${GITLAB_USER_EMAIL:-ci@example.com}"
    - git config --global user.name "GitLab CI/CD"

stages:
  - build
  - release

build-docker:
  extends: .default
  stage: build
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - |
      if [ -n "$CI_COMMIT_TAG" ]; then
        export CI_TAG=$CI_COMMIT_TAG
      else
        export CI_TAG=$CI_COMMIT_REF_SLUG
      fi
    - echo "Using image tag \"$CI_TAG\""
  script:
    - docker compose build
    - docker tag ${DOCKER_IMAGE}:latest ${DOCKER_IMAGE}:$CI_TAG
    - docker push ${DOCKER_IMAGE}:$CI_TAG
    - |
      echo "Uploaded image: ${DOCKER_IMAGE}:$CI_TAG"
    - |
      if [ "$CI_TAG" == "main" ]; then
        docker compose push
        echo "Uploaded image: ${DOCKER_IMAGE}:latest"
      fi

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  before_script:
    - apk update && apk add openssh-client git bash grep
    - eval $(ssh-agent -s)
    - echo "$CI_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - install -d -m 700 ~/.ssh
    - ssh-keyscan gitlab.com >> ~/.ssh/known_hosts
    - git config --global user.email "${GITLAB_USER_EMAIL:-ci@example.com}"
    - git config --global user.name "GitLab CI/CD"
  script:
    - release-cli create --tag-name $CI_COMMIT_TAG --description "New release"
  only:
    - tags
